.list {
    div {
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        flex: 1;
        margin: 20px;
        padding: 20px;
        
        border-radius: 4px;
        transition: all .3s ease;
       
    }
}

.items {
    
    color: black;

    &__img {
        border-radius: 0.5rem;
        width: 100%;
    }

    &__info {
        // color: whitesmoke;
        
    }

    &__title {
    }

    &__price {
    }

    &__cartBtn {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: black;
        background-color: #ffffff;
        text-align: center;
        transition: all 0.2s;
    }

    &__cartBtn:hover {
        color: #ffffff;
        background-color: #000000;
    }
}
