.product{

    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all .3s ease;
    font-family: 'Verdana', sans-serif;
   
  &__name {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__img{
        border-radius: 0.5rem;
        width: 100%;
    }

    &__info{
        padding: 10px;
    }

    &__title{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__price{
        margin-left: 3rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}


