.productForm {

    &__label{
        display: block;
        margin-top: 1rem;

        &--checkbox{
            margin-top: 0.5rem;
        }
    }

    &__input{
        display: block;
    }

    &__checkbox{
       
    }

    &__btn{
        display: block;
        margin-top: 1rem;
    }

    &__success{
        color: chartreuse;
    }

    &__error{
        color:red;
    }


    &__img{
        width: 200px;
        margin-top: 1rem;
        margin-right: 1rem;
    }


    &__images{
        display: flex;
    }

}