.authButtons__login{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: black;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.authButtons__login:hover {
    color: #ffffff;
    background-color: #000000;
}

.authButtons__logout{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: black;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.authButtons__logout:hover {
    color: #ffffff;
    background-color: #000000;
}


.search{
    background-color: #262626;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
   
}

.authButtons{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
}

a{
    text-decoration: none;
}

.search_wrap .input{
    border:0;
    border-radius: 1rem;
    outline: none;
    width: 100%;
    height:100%;
    padding: 10px;;
    color: #8b7d77;
}

.search_wrap{
    width: 10px;
    display: block;
    
}

.search .search_wrap{
    width: 300px;
    height: 35px;
    
}

.options{
margin: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.options .filterTitle{
    display: none;
}

.options .title{
    color: #262626;
    font-size: 1.5rem;
}

.options .filter_icon{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
}

.filter_icon .iconify{
    font-size: 25px;
    margin-left: 0.5rem;
    color:  #262626;
}

.filter_icon .cartBtn .iconify{
    font-size: 25px;
    margin-left: 0.5rem;
    color:  #262626;
}

.filters{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;

    .productForm__input{
        display: block;
        font-size: 16px;
        font-family: 'Verdana', sans-serif;
        font-weight: 400;
        color: #444;
        line-height: 1.3;
        padding: .4em 1.4em .3em .8em;
        width: 400px;
        max-width: 100%; 
        box-sizing: border-box;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
        border-radius: .3em;
        appearance: none;
        background-color: #fff;
    }
}