

.search{
    background-color: #262626;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.menu_icon{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
}

.menu_icon .iconify{
    font-size: 35px;
}

a{
    text-decoration: none;
}

.search_wrap .input{
    border:0;
    border-radius: 1rem;
    outline: none;
    width: 100%;
    height:100%;
    padding: 10px;;
    color: #8b7d77;
}

.search_wrap{
    width: 10px;
    display: block;
    
}

.search .search_wrap{
    width: 300px;
    height: 35px;
    
}

.options{
margin: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.options .filterTitle{
    display: none;
}

.options .title{
    color: #262626;
    font-size: 1.5rem;
}

.options .filter_icon{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
}

.filter_icon .iconify{
    font-size: 25px;
    margin-left: 0.5rem;
    color:  #262626;
}

.filter_icon .cartBtn .iconify{
    font-size: 25px;
    margin-left: 0.5rem;
    color:  #262626;
}