*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'productForm';
@import 'aside';
@import 'modal';
@import 'search';
@import 'items';
@import 'product';
@import 'footer';
@import 'general';